@{
    ViewData["Title"] = "Home Page";
}
<style>
    table, tr, td{
        border: solid 1px;
    }
</style>
<div class="text-center">
   <h2>This is a practice solution deployed ffrom Github</h2>
    <table>
        <thead>
            <tr>
                <td>Date</td>
                <td>Certification Name</td>
                <td>Module</td>
                <td>Task</td>
            </tr>
            <tr>
                <td>21/10/2020</td>
                <td>Az 204</td>
                <td>Azure Compute Solutions</td>
                <td>Deploying .Net code from Github</td>
            </tr>
        </thead>
    </table>
</div>
